.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.8rem;
  padding: 1rem;
  background-color: #1f2937;
  border-radius: 9px;
  width: 75%;
  margin: 2.2rem auto;
}

.tab-btn {
  width: 100%;
  border-radius: 9px;
  border: none;
  background: transparent;
  padding: 1.4rem;
  font-size: 1.6rem;
  color: #999;
  font-weight: 600;
}

.active {
  background-color: #030712;
  color: #fff;
}

.tab-details {
  width: 75%;
  background-color: #030712;
  border: 1px solid #666;
  border-radius: 12px;
  padding: 2.4rem;
  margin: 0 auto;
}
