.tab-container {
  display: flex;
  column-gap: 1.8rem;
  padding: 1rem;
  background-color: #1f2937;
  border-radius: 9px;
  /* min-width: 550px; */
  margin-bottom: 2rem;
}

.tab-btn {
  width: 100%;
  border-radius: 9px;
  border: none;
  background: transparent;
  padding: 1.4rem;
  font-size: 1.6rem;
  color: #999;
  font-weight: 600;
}

.active {
  background-color: #030712;
  color: #fff;
}

.tab-details {
  min-width: 550px;
  background-color: #030712;
  border: 1px solid #666;
  border-radius: 12px;
  padding: 2.4rem;
  margin: 0 auto;
}

@media (max-width: 592px) {
  .tab-details {
    min-width: 100%;
  }
}
