.logos {
  position: relative;
  /* border: 2px solid #212529; */
  /* border-radius: 12px; */
  overflow: hidden !important;
  width: 550px;
  padding: 6.8rem;
  margin: 0 auto;
  background-color: #fff;
  background-image: url("../Images/transparent-phone.webp");
}
.logos img {
  height: 100%;
}
.logos .logos-header h3 {
  font-size: 3.2rem;
  color: #222;
}

.logos-header {
  width: 95%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logos h3 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1.9rem;
}

.logos p {
  font-size: 1.4rem;
  margin-bottom: 4.2rem;
  color: #222;
  letter-spacing: 1.2px;
  line-height: 2.2rem;
}
.scroll-track {
  white-space: nowrap;
  margin-bottom: 3.2rem;
}
.scroll-slide span:hover {
  background-color: #444;
}
.logos::before,
.logos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55px;
  z-index: 2;
  height: 100%;
}
.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #080d1a);
}
.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #080d1a);
}
.scroll-slide {
  display: inline-block;
  animation: 16s scroll infinite linear;
}
.scroll-slide span {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0 10px;
  letter-spacing: 0.3em;
  background: #212529;
  color: #fff;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* .scroll {
  display: flex;
  justify-content: center;
  position: relative;
   width: 700px;
  background-color: white;
  margin: 0 auto;
  padding: 2%;
  overflow: hidden;
}

.scroll div {
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.scroll div span:hover {
  background-color: #3fd2f9;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* SCROLL  */
