.about {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.about-heading {
  text-align: center;
  font-size: 4.4rem;
  grid-column: 1/-1;
  margin-bottom: 12.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.about-me {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
}

.about-me-animate {
  opacity: 1;
  animation-name: moveInLeft;
  animation-duration: 1.4s;
}

.about-me img {
  width: 40%;
  border-radius: 100%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 3.2rem;
}
.about-me p {
  width: 60%;
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
  padding: 1.2rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
  }
  .about-me p {
    width: 95%;
    margin-bottom: 6.4rem;
  }
  .about-me img {
    width: 60%;
  }
}
