.skills {
  background-color: #e9ecef;
}
.skills ion-icon,
.icon,
svg {
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid black;
  border-radius: 14px;
  padding: 3.2rem;
  transition: all 500ms ease;
}
.icon-container {
  display: flex;
  gap: 4.8rem;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6.2rem 0;
}

.icons p {
  font-size: 1.6rem;
}

ion-icon:hover,
.icon:hover,
svg:hover {
  transform: scale(1.15);
}
ion-icon:active,
.icon:active,
svg:active {
  transform: rotate(360deg);
}

/* COLOR ION ICON */

.react ion-icon {
  color: #1098ad;
}
.javascript ion-icon {
  color: #ffd43b;
}
.css ion-icon {
  color: #339af0;
}

.node ion-icon {
  color: #51cf66;
}
.wordpress ion-icon {
  color: #0b7285;
}

/* ////////////////////// */

.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.skill-row-animate {
  opacity: 1;
  animation-name: moveInRight;
  animation-duration: 1.4s;
}

.skills-heading {
  display: block;
  position: relative;
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.8px;
  margin: 0;
  grid-column: 1/-1;
  text-align: center;
  margin: 4.8rem;
}

@media (max-width: 768px) {
}
