.back {
  background-color: #495057;
  padding: 4.4rem;
}
.contact-heading {
  text-align: center;
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  padding: 2.4rem;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #212529;
  border-radius: 14px;
  margin: 0 auto;
  padding: 4.4rem;
  margin-bottom: 2.2rem;
  color: #e9ecef;
}

form label {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.invalid-message {
  margin: 0 0 2.2rem 0;
  font-size: 1.4rem;
  color: #fa5252;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container input {
  border: 0;
  background-color: #e9ecef;
  border-bottom: 1px solid #868e96;
  border-radius: 6px;
}
.input-container input:focus {
  border-bottom: 1px solid #15aabf;
}
.input-container input,
.input-container textarea {
  margin-bottom: 1.4rem;
  width: 100%;
  padding: 0.8rem;
}
.input-container textarea {
  border-radius: 14px;
}

.input-container textarea:focus {
  background-color: #f1f3f5;
  border: 1px solid black;
}
.control-invalid {
  border-left: 3px solid #fa5252 !important;
}
.control-invalid-text {
  background-color: #ffa8a8;
  /* border-radius: 14px 14px 0 0; */
}
.questions-heading {
  text-align: center;
  font-size: 2.4rem;
  color: #15aabf;
  margin: 0 0 2.6rem 0;
}
@media (max-width: 768px) {
  form {
    width: 85%;
  }
}
